@import "tailwindcss";

:root {
  --width: 1200px;
  --offset: calc((100vw - var(--width)) / 2);
  --accent: #5865F2;
  --body-bg: #0D0D11;
  --grid-template: "area0 area0 area0" "area1 area1 area2" "area3 area3 area2" "area4 area4 area4";
}
@media screen and (max-width: 1920px){
  :root {
    --width: 1100px;
  }
}
@media screen and (max-width: 1600px){
  :root {
    --width: 1050px;
  }
}
@media screen and (max-width: 1440px){
  :root {
    --width: 950px;
  }
}
@media screen and (max-width: 1280px){
  :root {
    --width: 900px;
  }
}
@media screen and (max-width: 1024px){
  :root {
    --width: 85vw;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--body-bg);
}

@layer base {
  body {
    @apply text-white m-0 p-0 font-medium;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
}
.content{
  flex: 1 1 auto;
  display: flex;
}

* {
  font-family: var(--font-montserrat);
}
a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7f7f7f;
}